<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.svb.ibeacon.heatmap"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sk.svb.ibeacon.heatmap.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.svb.ibeacon.heatmap.activity.HelpFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="sk.svb.ibeacon.heatmap.activity.SetupBeaconActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="sk.svb.ibeacon.heatmap.activity.ShowBeaconsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="sk.svb.ibeacon.heatmap.service.HeatMapService"
            android:process=":myProcess1" />
    </application>

</manifest>